name: Download and Commit JSON

on:
  schedule:
    - cron: '00 21 1,26,28 * *'
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  download-json:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v5

    - name: Download data.json
      run: |
        curl -sSL "${{ secrets.CSV_URL }}" -o docs/schedule.csv || exit 1
        curl -sSL "${{ secrets.JSON_URL }}" | jq . > docs/data.json || exit 1
        jq empty docs/data.json || exit 1

    - name: Commit and push changes
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        git config --global user.name 'GitHub Actions'
        git config --global user.email 'actions@github.com'
        git remote set-url origin https://x-access-token:${GITHUB_TOKEN}@github.com/${{ github.repository }}
        git add -N .
        if ! git diff --exit-code --quiet
        then
          git add .
          git commit -m "Update data.json schedule.csv" -a
          git push
        fi

  deploy-pages:
    name: Deploy GitHub Pages
    needs: download-json
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload site artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./docs

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

